/.metadata/
**/.metadata/
**/.classpath
**/.project
**/.settings/
/llm-backend/llm/__pycache__/
.vscode
*.log
*.DS_Store
**/build/
build/
firebase-service-account.json
**/firebase-service-account.json