<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".NavigateActivity"
            android:exported="true" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".FAQActivity"
            android:exported="false" />
    </application>

</manifest>
