services:
  frontend:
    image: {{ docker_username }}/frontend:{{ image_tag }}
    expose:
      - "3000"  

  backend:
    image: {{ docker_username }}/backend:{{ image_tag }}
    expose:
      - "8080"
    depends_on:
      - mongodb
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/simbus-mongo

  mongodb:
    image: mongo:6.0
    restart: unless-stopped
    expose:
      - "27017"
    volumes:
      - mongo-data:/data/db

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
